---
- name: Install zsh
  become: yes
  package:
    name: zsh
    state: present

# Note: .zshrc will be stowed via GNU Stow (see scripts/stow.sh)
# This role only handles system setup and plugin installation

- name: Install Oh My Zsh
  become: no
  git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh"
    update: no

- name: Clone zsh-autosuggestions plugin
  become: no
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    update: no