---
- name: Check if Starship is already installed
  stat:
    path: /usr/local/bin/starship
  register: starship_installed

- name: Download Starship installation script
  get_url:
    url: https://starship.rs/install.sh
    dest: /tmp/install_starship.sh
    mode: '0755'
  become: yes
  when: not starship_installed.stat.exists
  register: download_starship_script

- name: Install Starship prompt
  shell: sh /tmp/install_starship.sh -y
  args:
    creates: "/usr/local/bin/starship"
  become: yes
  when: download_starship_script is changed

- name: Remove Starship installation script
  file:
    path: /tmp/install_starship.sh
    state: absent
  become: yes
  when: download_starship_script is changed

- name: Create Starship config directory
  file:
    path: "{{ ansible_env.HOME }}/.config"
    state: directory
    mode: '0755'
    force: true

# Note: starship.toml will be stowed via GNU Stow (see scripts/stow.sh)
# This role only handles Starship installation
