---
- name: Set fonts directory
  set_fact:
    nvim_config_dir: "{{ ansible_env.HOME }}/.config/nvim"

- name: Install Neovim
  package:
    name: "neovim"
    state: present
  become: yes

- name: Install Neovim (macOS)
  homebrew:
    name: neovim
    state: present
  when: ansible_os_family == 'Darwin'

- name: Ensure Neovim config directory exists
  file:
    path: "{{ nvim_config_dir }}"
    state: directory
    mode: '0755'
  become: no

- name: Copy Neovim init.vim
  copy:
    src: "{{ dotfiles_dir }}/nvim/init.vim"
    dest: "{{ nvim_config_dir }}/init.vim"
    mode: '0644'

- name: Ensure Neovim autoload directory exists
  file:
    path: "{{ ansible_env.HOME }}/.local/share/nvim/site/autoload"
    state: directory
    mode: '0755'
  become: no

- name: Install vim-plug for Neovim
  get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: "{{ ansible_env.HOME }}/.local/share/nvim/site/autoload/plug.vim"
    mode: '0644'
  become: no

- name: Install Neovim plugins
  shell: nvim +PlugInstall +qall
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/nvim/plugged"
  become: no
