- hosts: localhost
  vars:
    ansible_python_interpreter: /usr/bin/python3
    dotfiles_dir: "{{ ansible_env.HOME }}/.dotfiles"
  roles:
    - common
    - zsh
    - { role: fonts, tags: ['fonts', 'gui'] }
    - starship
    - nvim
    - { role: alacritty, tags: ['alacritty', 'gui'] }
    - tmux